Unipago_Servico_Client/web/WEB-INF/wsdl/localhost_8080/Ciudadano_WC/Ciudadano_WC.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.Unipago.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.Unipago.com/" name="Ciudadano_WC">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.Unipago.com/" schemaLocation="http://localhost:8080/Ciudadano_WC/Ciudadano_WC?xsd=1"/>
</xsd:schema>
</types>
<message name="AddCiudadano">
<part name="parameters" element="tns:AddCiudadano"/>
</message>
<message name="AddCiudadanoResponse">
<part name="parameters" element="tns:AddCiudadanoResponse"/>
</message>
<message name="UpdateCiudadano">
<part name="parameters" element="tns:UpdateCiudadano"/>
</message>
<message name="UpdateCiudadanoResponse">
<part name="parameters" element="tns:UpdateCiudadanoResponse"/>
</message>
<message name="DeleteCiudadano">
<part name="parameters" element="tns:DeleteCiudadano"/>
</message>
<message name="DeleteCiudadanoResponse">
<part name="parameters" element="tns:DeleteCiudadanoResponse"/>
</message>
<message name="ListaCiudadano">
<part name="parameters" element="tns:ListaCiudadano"/>
</message>
<message name="ListaCiudadanoResponse">
<part name="parameters" element="tns:ListaCiudadanoResponse"/>
</message>
<message name="BuscarCiudadano">
<part name="parameters" element="tns:BuscarCiudadano"/>
</message>
<message name="BuscarCiudadanoResponse">
<part name="parameters" element="tns:BuscarCiudadanoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getBeanSessionCiudadano">
<part name="parameters" element="tns:getBeanSessionCiudadano"/>
</message>
<message name="getBeanSessionCiudadanoResponse">
<part name="parameters" element="tns:getBeanSessionCiudadanoResponse"/>
</message>
<portType name="Ciudadano_WC">
<operation name="AddCiudadano">
<input wsam:Action="http://Service.Unipago.com/Ciudadano_WC/AddCiudadanoRequest" message="tns:AddCiudadano"/>
<output wsam:Action="http://Service.Unipago.com/Ciudadano_WC/AddCiudadanoResponse" message="tns:AddCiudadanoResponse"/>
</operation>
<operation name="UpdateCiudadano">
<input wsam:Action="http://Service.Unipago.com/Ciudadano_WC/UpdateCiudadanoRequest" message="tns:UpdateCiudadano"/>
<output wsam:Action="http://Service.Unipago.com/Ciudadano_WC/UpdateCiudadanoResponse" message="tns:UpdateCiudadanoResponse"/>
</operation>
<operation name="DeleteCiudadano">
<input wsam:Action="http://Service.Unipago.com/Ciudadano_WC/DeleteCiudadanoRequest" message="tns:DeleteCiudadano"/>
<output wsam:Action="http://Service.Unipago.com/Ciudadano_WC/DeleteCiudadanoResponse" message="tns:DeleteCiudadanoResponse"/>
</operation>
<operation name="ListaCiudadano">
<input wsam:Action="http://Service.Unipago.com/Ciudadano_WC/ListaCiudadanoRequest" message="tns:ListaCiudadano"/>
<output wsam:Action="http://Service.Unipago.com/Ciudadano_WC/ListaCiudadanoResponse" message="tns:ListaCiudadanoResponse"/>
</operation>
<operation name="BuscarCiudadano">
<input wsam:Action="http://Service.Unipago.com/Ciudadano_WC/BuscarCiudadanoRequest" message="tns:BuscarCiudadano"/>
<output wsam:Action="http://Service.Unipago.com/Ciudadano_WC/BuscarCiudadanoResponse" message="tns:BuscarCiudadanoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Service.Unipago.com/Ciudadano_WC/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Service.Unipago.com/Ciudadano_WC/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getBeanSessionCiudadano">
<input wsam:Action="http://Service.Unipago.com/Ciudadano_WC/getBeanSessionCiudadanoRequest" message="tns:getBeanSessionCiudadano"/>
<output wsam:Action="http://Service.Unipago.com/Ciudadano_WC/getBeanSessionCiudadanoResponse" message="tns:getBeanSessionCiudadanoResponse"/>
</operation>
</portType>
<binding name="Ciudadano_WCPortBinding" type="tns:Ciudadano_WC">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AddCiudadano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateCiudadano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteCiudadano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaCiudadano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarCiudadano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBeanSessionCiudadano">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Ciudadano_WC">
<port name="Ciudadano_WCPort" binding="tns:Ciudadano_WCPortBinding">
<soap:address location="http://localhost:8080/Ciudadano_WC/Ciudadano_WC"/>
</port>
</service>
</definitions>